@{
	ViewData["Title"] = "Search";
}
@model SearchPageViewModel
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<form asp-action="Search" method="Get">

				<div class="mb-3">
					<label asp-for="SearchViewModel.CustomerFullName" class="form-label"></label>
					<input asp-for="SearchViewModel.CustomerFullName" class="form-control">
				</div>
				<div class="mb-3">
					<label asp-for="SearchViewModel.Category" class="form-label"></label>
					<input asp-for="SearchViewModel.Category" class="form-control">
				</div>
				<div class="mb-3">
					<label asp-for="SearchViewModel.Gender" class="form-label"></label>
					<input asp-for="SearchViewModel.Gender" class="form-control" rows="3"></input>
				</div>
				<div class="mb-3">
					<label asp-for="SearchViewModel.OrderDateStart" class="form-label"></label>
					<input asp-for="SearchViewModel.OrderDateStart" class="form-control">
				</div>
				<div class="mb-3">
					<label asp-for="SearchViewModel.OrderDateEnd" class="form-label"></label>
					<input asp-for="SearchViewModel.OrderDateEnd" class="form-control">
				</div>

				<div class="mb-3">
					<button class="btn btn-primary" type="submit">Search</button>
				</div>









			</form>




		</div>
		<div class="col-md-9">

			<div class="alert alert-success">
				<span> Toplam @Model.TotalCount kayıt bulunmuştur</span>
			</div>

			<table class="table table-striped">

				<thead>
				<tr>
					<th>Customer Full Name</th>
					<th>Order Date</th>
					<th>Gender</th>
					<th>TaxfulTotalPrice</th>
					<th>Category</th>
					<th>OrderId</th>
				</tr>
				</thead>
				<tbody>

				@foreach (var item in Model.List)
				{

					<tr>
						<td>@item.CustomerFullName</td>
						<td>@item.OrderDate</td>
						<td>@item.Gender</td>
						<td>@item.TaxfulTotalPrice</td>
						<td>@item.Category</td>
						<td>@item.OrderId</td>
					</tr>




				}

				</tbody>
			</table>

			<nav>
				<ul class="pagination">
					
					<li class="page-item">
						<a class="page-link" href="@Model.CreatePageUrl(Context.Request,1,Model.PageSize)">First</a>
					</li>
					

					@for (int i = Model.StartPage(); i <= @Model.EndPage(); i++)
					{
						<li class="page-item @(Model.Page==i ?"active" :"")">
							<a class="page-link" href="@Model.CreatePageUrl(Context.Request,i,Model.PageSize)">@i</a>
						</li>
					}
					
					<li class="page-item">
						<a class="page-link" href="@Model.CreatePageUrl(Context.Request,Model.PageLinkCount,Model.PageSize)">Last</a>
					</li>

				</ul>
				
				

			</nav>

		</div>
	</div>
	
</div>

